.app-login {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	flex-basis: 100%;

	.login-form {
		margin-top: 100px;

		input {
			background: #fff;
			border: 1px solid #4e754e;
			border-radius: 3px;
		}

		button {
		    background: #448948;
		    border: 1px solid #2E6531;
		    color: #e8e8e8;
		}
	}
}