.items {
  margin-top: 50px;


  .select-material {
    display: flex;
    flex-direction: row;

    .material {
      flex-basis: 50%;
      padding: 3px 0;
      // color: #efefef;
      // background: #267712;
      text-transform: uppercase;
      font-size: 11px;
      text-align: center;

      // &.selected {
      //   background: rgba(24, 89, 7, 0.2);
      //   color: #267612;
      // }
    }
  }

  .filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // background: rgba(24, 89, 7, 0.2);
    // border-bottom: 1px solid rgba(24, 89, 7, 0.2);

    div {
      margin-bottom: 0;
      display: inline-block;
      flex-basis: 50%;
      flex-grow: 1;
    }

    select {
      border-bottom: none;
    }
  }
}
