.select {
  position: relative;
  margin-bottom: 20px;

  .select-icon {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    // border-color: transparent transparent #267612 transparent;
  }
}

select {
  background-color: transparent;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 10px 12px;
  text-transform: capitalize;
  color: rgba(black, 0.8);

  &:active, &:focus {
    outline: none;
  }

  &[theme='dark'] {
    // border-bottom: 1px solid rgba(white, 0.1);
    // color: rgba(white, 0.9);

    // &.placeholder {
    //   color: rgba(white, 0.5) !important;
    // }
  }

  &[theme='light'] {
    // border-bottom: 1px solid rgba(#145802, 0.1);
    // color: #267612;

    // &.placeholder {
    //   color: rgba(#145802, 0.5) !important;
    // }

    // &.material {
    //   font-size: 26px;
    // }
  }

  &.lg {
    padding: 10px 12px;
  }

  &.sm {
    padding: 5px 12px;
    font-size: 11px;
    font-weight: bold;
  }
}