@import '../../../stylesheets/scss/variables';

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 20px;
  z-index: 3;

  div {
    display: inline-block;
  }

  .title {
    flex-basis: 50%;

    h4 {
      font-weight: normal;
      margin: 0;
    }
  }

  .actions {
    flex-basis: 50%;
    text-align: right;

    .input {
      margin-left: 25px;
    }
  }

	.app-header-login {
		position: absolute;
		right: 20px;
		top: 20px;
  }
}

// .app-header, .select-material.material {
//   background: map-get($theme1, primary);
//   color: map-get($theme1, inverse);
// }