.modal-container {
  position: fixed;
  right: 0;
  top: 50px;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .modal-head {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .item-symbol {
      flex-basis: 50%;
      img {
        width: 60px;
      }
    }

    .close-modal {
      flex-basis: 50%;
      text-align: right;
      margin-bottom: 20px;
    }
  }
}