@import '../../../stylesheets/scss/variables';

body, html {
	margin: 0 !important;
  padding: 0 !important;


}
.app {
	display: flex;
	flex-direction: column;
}

div.all, div.brand, div.other {
  .app-header {
    background: map-get($theme1, primary);
    color: map-get($theme1, inverse);
  }

  .material {
    background: map-get($theme1, primary);
    color: map-get($theme1, inverse);

    a {
      color: map-get($theme1, inverse);
    }
  }

  .selected {
    background: #efefef;
    color: map-get($theme1, primary);

    a {
      color: map-get($theme1, dark);
    }
  }

  .static-details {
    background: #f7f7f7;
    border: 1px solid #eceaea;
    color: map-get($theme1, dark);
  }

  .filters {
    background: #efefef;
    color: map-get($theme1, primary);
    border-bottom: map-get($theme1, dark);
  }

   button {
    background: map-get($theme1, primary);
    color: map-get($theme1, inverse);
    border: 1px solid darken(map-get($theme1, primary), 10%);

    &[type='icon'] {
      color: map-get($theme1, dark);
    }
  }
}

div.steel {
  .app-header{
    background: map-get($theme-steel, primary);
    color: map-get($theme-steel, inverse);
  }

  .material {
    background: map-get($theme-steel, primary);
    color: map-get($theme-steel, inverse);

    a {
      color: map-get($theme-steel, inverse);
    }
  }

  .selected {
    background: map-get($theme-steel, light);
    color: map-get($theme-steel, dark);

    a {
      color: map-get($theme-steel, dark);
    }
  }

  .filters {
    background: map-get($theme-steel, light);
    color: map-get($theme-steel, primary);
    border-bottom: 1px solid #e0e7ea;
  }

  .static-details {
    background: #f7f7f7;
    border: 1px solid #eceaea;
    color: map-get($theme-steel, dark);
  }

  select, input {
    color: map-get($theme-steel, dark);

    &::placeholder {
      color: rgba(map-get($theme-steel, dark), 0.5);
    }

    &.placeholder {
      color: rgba(map-get($theme-steel, dark), 0.5) !important;
    }
  }

  button {
    background: map-get($theme-steel, primary);
    color: map-get($theme-steel, inverse);
    border: 1px solid darken(map-get($theme-steel, primary), 10%);

    &[type='icon'] {
      color: map-get($theme-steel, dark);
    }
  }

  .select-icon {
    border-color: transparent transparent map-get($theme-steel, dark) transparent;
  }
}

div.brick {
  .app-header{
    background: map-get($theme-brick, primary);
    color: map-get($theme-brick, inverse);
  }

  .material {
    background: map-get($theme-brick, primary);
    color: map-get($theme-brick, inverse);

    a {
      color: map-get($theme-brick, inverse);
    }
  }

  .selected {
    background: map-get($theme-brick, light);
    color: map-get($theme-brick, dark);

    a {
      color: map-get($theme-brick, dark);
    }
  }

  .filters {
    background: map-get($theme-brick, light);
    color: map-get($theme-brick, primary);
    border-bottom: 1px solid #ece3e2;
  }

  .static-details {
    background: #f7f7f7;
    border: 1px solid #eceaea;
    color: map-get($theme-brick, dark);
  }

  select, input {
    color: map-get($theme-brick, dark);

    &::placeholder {
      color: rgba(map-get($theme-brick, dark), 0.5);
    }

    &.placeholder {
      color: rgba(map-get($theme-brick, dark), 0.5) !important;
    }
  }

  button {
    background: map-get($theme-brick, primary);
    color: map-get($theme-brick, inverse);
    border: 1px solid darken(map-get($theme-brick, primary), 10%);

    &[type='icon'] {
      color: map-get($theme-brick, dark);
    }
  }

  .select-icon {
    border-color: transparent transparent map-get($theme-brick, dark) transparent;
  }
}

div.block {
  .app-header{
    background: map-get($theme-block, primary);
    color: map-get($theme-block, inverse);
  }

  .material {
    background: map-get($theme-block, primary);
    color: map-get($theme-block, inverse);

    a {
      color: map-get($theme-block, inverse);
    }
  }

  .selected {
    background:  map-get($theme-block, light);
    color: map-get($theme-block, dark);

    a {
      color: map-get($theme-block, dark);
    }
  }

  .filters {
    background:  map-get($theme-block, light);
    color: map-get($theme-block, primary);
    border-bottom: 1px solid darken(map-get($theme-block, light), 5%);
  }

  .static-details {
    background: #f7f7f7;
    border: 1px solid #eceaea;
    color: map-get($theme-block, dark);
  }

  select, input {
    color: map-get($theme-block, dark);

    &::placeholder {
      color: rgba(map-get($theme-block, dark), 0.5);
    }

    &.placeholder {
      color: rgba(map-get($theme-block, dark), 0.5) !important;
    }
  }

  button {
    background: map-get($theme-block, primary);
    color: map-get($theme-block, inverse);
    border: 1px solid darken(map-get($theme-block, primary), 10%);

    &[type='icon'] {
      color: map-get($theme-block, dark);
    }
  }

  .select-icon {
    border-color: transparent transparent map-get($theme-block, dark) transparent;
  }
}

div.rebar {
  .app-header{
    background: map-get($theme-rebar, primary);
    color: map-get($theme-rebar, inverse);
  }

  .material {
    background: map-get($theme-rebar, primary);
    color: map-get($theme-rebar, inverse);

    a {
      color: map-get($theme-rebar, inverse);
    }
  }

  .selected {
    background:  map-get($theme-rebar, light);
    color: map-get($theme-rebar, dark);

     a {
      color: map-get($theme-rebar, dark);
    }
  }

  .filters {
    background:  map-get($theme-rebar, light);
    color: map-get($theme-rebar, primary);
    border-bottom: 1px solid #dee2e4;
  }

  .static-details {
    background: #f7f7f7;
    border: 1px solid #eceaea;
    color: map-get($theme-rebar, dark);
  }

  select, input {
    color: map-get($theme-rebar, dark);

    &::placeholder {
      color: rgba(map-get($theme-rebar, dark), 0.5);
    }

    &.placeholder {
      color: rgba(map-get($theme-rebar, dark), 0.5) !important;
    }
  }

  button {
    background: map-get($theme-rebar, primary);
    color: map-get($theme-rebar, inverse);
    border: 1px solid darken(map-get($theme-rebar, primary), 10%);

    &[type='icon'] {
      color: map-get($theme-rebar, dark);
    }
  }

  .select-icon {
    border-color: transparent transparent map-get($theme-rebar, dark) transparent;
  }
}

div.timber {
  .app-header{
    background: map-get($theme-timber, primary);
    color: map-get($theme-timber, inverse);
  }

  .material {
    background: map-get($theme-timber, primary);
    color: map-get($theme-timber, inverse);

    a {
      color: map-get($theme-timber, inverse);
    }
  }

  .selected {
    background:  map-get($theme-timber, light);
    color: map-get($theme-timber, dark);

    a {
      color: map-get($theme-timber, dark);
    }
  }

  .filters {
    background:  map-get($theme-timber, light);
    color: map-get($theme-timber, primary);
    border-bottom: 1px solid #e8e6e0;
  }

  .static-details {
    background: #f7f7f7;
    border: 1px solid #eceaea;
    color: map-get($theme-timber, dark);
  }

  select, input {
    color: map-get($theme-timber, dark);

    &::placeholder {
      color: rgba(map-get($theme-timber, dark), 0.5);
    }

    &.placeholder {
      color: rgba(map-get($theme-timber, dark), 0.5) !important;
    }
  }

  button {
    background: map-get($theme-timber, primary);
    color: map-get($theme-timber, inverse);
    border: 1px solid darken(map-get($theme-timber, primary), 10%);

    &[type='icon'] {
      color: map-get($theme-timber, dark);
    }
  }

  .select-icon {
    border-color: transparent transparent map-get($theme-timber, dark) transparent;
  }
}

select, input {
  border-bottom: 1px solid #efefef;
}
