form {
    display: flex;
    flex-direction: column;

    .input {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;

        input {
            border-radius: 3px;
        }
    }

    button {
        height: 40px;
        border-radius: 3px;
        flex-basis: 100%;
    }

    .static-details {
      padding: 15px;
      border: 1px solid rgba(white, 0.1);
      background: #1e4614;
      color: rgba(white, 0.4);

      div {
        margin-bottom: 5px;
      }
    }
}