.item {
   display: flex;
   flex-direction: row;
   align-items: center;
   border-bottom: 1px solid #efefef;
   padding: 5px 0;

  .item-symbol {
    padding: 15px;

    img {
      width: 40px;
    }
  }

  .item-info {
    // flex-basis: 80%;
    display: flex;
    flex-direction: column;

    .item-section {
      flex-basis: 100%;
      text-align: left;
      text-transform: capitalize;

      .title {
          font-size: 14px;
          color: #1b6508;
      }

      .sub-title {
          font-size: 11px;
          padding-bottom: 10px;
      }

      .detail {
        margin-top: 10px;
          display: inline-block;
          font-size: 10px;
          margin-right: 10px;
      }
    }
  }
}

.k {
  color: #fec53e; //timber
  color: #e83723; //brick
  color: #76c3ed; //steel
  color: #34587f; //rebar
  color: #8d8678; //block
}