$primary-color: #267712;
$secondary-color: #fff;


$theme1: (
  primary: #696969,
  dark: #5a5a5a,
  light: #b3ccab,
  inverse: #fff
);

$theme-steel: (
  primary: #499fce,
  dark: #44718a,
  light: #def4ff,
  inverse: #fff
);

$theme-brick: (
  primary: #c62f20,
  dark: #b12313,
  light: #ffedeb,
  inverse: #fff
);

$theme-block: (
  primary: #a45b26,
  dark: #82451b,
  light: #e8dbd2,
  inverse: #fff
);

$theme-rebar: (
  primary: #34587f,
  dark: #1b324a,
  light: #e6f0f9,
  inverse: #fff
);

$theme-timber: (
  primary: #ffb401,
  dark: #c59728,
  light: #fff2d6,
  inverse: #fff
)