input {
	width: 100%;
	height: 35px;
  margin-bottom: 20px;
  padding: 0 15px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(black, 0.3);
  color: rgba(black, 0.8);

  &[theme='dark'] {
    // border-bottom: 1px solid rgba(white, 0.1);
    // color: rgba(white, 0.9);
  }


}