.pop-up {
  width: 200px;
  height: 240px;
  background: #efefef;
  position: absolute;
  top: 55px;
  right: 5px;
  z-index: 1000;
  box-shadow: 1px 1px 5px rgba(black, 0.2);

  ul {
    padding: 0;

    li {
      padding: 10px 20px;
      border-bottom: 1px solid #e0e0e0;
    }
  }
}