@import '../../../stylesheets/scss/variables';

[theme='light'] button {

  i.icon {
    font-size: 20px;

  }

  img {
    height: 35px;
  }

  &[type='icon'] {
    background: transparent;
    border: none;
    padding: 0;
  }
}

[theme='dark'] button {

  i.icon {
    font-size: 20px;
    color: $secondary-color;

  }

  img {
    height: 35px;
  }

  &[type='icon'] {
    background: transparent;
    border: none;
    padding: 0;
  }
}

button {
  &:active, &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
  }
}